<h1> Hey Friends, Let's Meet </h1>
<body>
<ul> Here we will find and plan events for you and your buddies to do around town</ul>
  <ul> We will allow you to:
    <li>Create events</li>
    <li>Search for Events</li>
    <li>Find locales to have events</li>
    <li>Invite your buddies</li>
    <li>Sign up for events</li>
  </ul>
</body>
