<div>
  <%= button_to "Add event", new_listing_path, method: :get %>
</div>
  <ul>
    <li>
      <h3><%= event.title %></h3>
      <div><%= event.location %></div>
      <div> event.time </div>
    </li>
  </ul>
<% end %>
